.dg-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dg-container {
  width: 600px;
  height: 206px;
  background: black;
  display: flex;
}

.digit {
  width: 75px;
  height: 186px;
  background: black;
  margin: 10px 10px;
  position: relative; 
}


.seg-a { position: absolute; top: 0; left: 8px; width: 50px; height: 10px; }
.seg-d { position: absolute; bottom: 0; left: 8px; width: 50px; height: 10px; }
.seg-g { position: absolute; top: 87px; left: 8px; width: 50px; height: 10px; }


.seg-b { position: absolute; top: 10px; right: 0; width: 10px; height: 75px; }
.seg-c { position: absolute; bottom: 10px; right: 0; width: 10px; height: 75px; }
.seg-e { position: absolute; bottom: 10px; left: 0; width: 10px; height: 75px; }
.seg-f { position: absolute; top: 10px; left: 0; width: 10px; height: 75px; }


.segment {
  background: rgb(156, 150, 150);
  transition: 0.3s;
}

.segment.on {
  background: red;
  opacity: 1;
}


.colon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50px;
}
.dot {
  width: 13px;
  height: 13px;
  background: red;
  border-radius: 50%;
}
